<ion-view view-title="Greenz Galaxy">
  	<ion-content>
	    <div class="list list-inset">
		  <label class="item item-input">
		    <i class="icon ion-search placeholder-icon"></i>
		    <input type="text" placeholder="Search">
		  </label>
		</div>
		<img id="map" src="img/map.jpg">

		<div class="row">
	    	<div class="col col-20"><a href="#"><img class="category" src="img/ad.jpg"></a><p class="category_text">All Categories</p></div>
	    	<div class="col col-20"><a href="#"><img class="category" src="img/ad.jpg"></a><p class="category_text">Spices</p></div>
	    	<div class="col col-20"><a href="#"><img class="category" src="img/ad.jpg"></a><p class="category_text">Gums</p></div>
	    	<div class="col col-20"><a href="#"><img class="category" src="img/ad.jpg"></a><p class="category_text">Essential Oil</p></div>
	    	<div class="col col-20"><a href="#"><img class="category" src="img/ad.jpg"></a><p class="category_text">Solvents</p></div>
    	</div>

		<div class="list">
	        <div class="row">
	            <div class="col col-50">
	                <img class="ad" src="img/ad.jpg" />
	            </div>
	            <div class="col col-50">
	                <img class="ad" src="img/ad.jpg" />
	            </div>
	        </div>
    	</div>
    	<div class="row">
	    	<div class="col col-100"><strong>Our Products</strong></div>
	    	<div class="col col-100">
	    		<div class="button button-small button-balanced prod-right">
	  				<a ng-href="#/app/products">View All</a>
	  			</div>
	    	</div>
    	</div>

    	<div class="list">
		    <a class="item item-thumbnail-left" href="#/app/products">
		      <img src="img/ad.jpg">
		      <h2 class="prodpadd">Pretty Hate Machine</h2>
		      <p>Nine Inch Nails</p>
		    </a>
		    <a class="item item-thumbnail-left" href="#/app/products">
		      <img ng-src="img/ad.jpg">
		      <h2 class="prodpadd">Pretty Hate Machine</h2>
		      <p>Nine Inch Nails</p>
		    </a>
		    <a class="item item-thumbnail-left" href="#/app/products">
		      <img ng-src="img/ad.jpg">
		      <h2 class="prodpadd">Pretty Hate Machine</h2>
		      <p>Nine Inch Nails</p>
		    </a>
		</div>

		<div class="list card">
			<div class="item item-image">
				<img src="img/ad.jpg">
			</div>
		</div>

		<div class="row">
	    	<div class="col col-100"><strong>Dealers</strong></div>
	    	<div class="col col-100">
	    		<div class="button button-small button-balanced prod-right">
	  				<a href="#/app/dealers">View All</a>
	  			</div>
	    	</div>
    	</div>

    	<div class="list">
		    <a class="item item-avatar" href="#">
		      <img src="img/ad.jpg">
		      <h2>Mahendra Kumar Das</h2>
		      <p><i class="icon ion-android-call"">&nbsp;</i>+91-9853757805</p>
		    </a>
		    <a class="item item-avatar" href="#">
		      <img src="img/ad.jpg">
		      <h2>Mahendra Kumar Das</h2>
		      <p><i class="icon ion-android-call"">&nbsp;</i>+91-7008854440</p>
		    </a>
		    <a class="item item-avatar" href="#">
		      <img src="img/ad.jpg">
		      <h2>Mahendra Kumar Das</h2>
		      <p><i class="icon ion-android-call"">&nbsp;</i>+91-9853757805</p>
		    </a>
		</div>
		<div class="padd"></div>

  	</ion-content>
  	<div class="tabs tabs-background-stable tabs-color-light">
	    <div class="tabs">
	      <a class="tab-item" href="#/app/playlists">
	        <i class="icon ion-home"></i>
	      </a>
	      <a class="tab-item" href="#/app/dealers">
	        <i class="icon ion-person-stalker"></i>
	      </a>
	      <a class="tab-item" href="#/app/products">
	        <i class="icon ion-social-dropbox"></i>
	      </a>
	      <a class="tab-item" href="#/app/products">
	        <i class="icon ion-person"></i>
	      </a>
	    </div>
  	</div>
</ion-view>
