<ion-view view-title="Product">
  <ion-content>
	  <div class="list list-inset">
		<label class="item item-input">
		  <i class="icon ion-search placeholder-icon"></i>
		  <input type="text" placeholder="Search">
		</label>
	  </div>

    <div class="list">
        <a class="item item-thumbnail-left" href="#/app/productdetails">
          <img src="img/ad.jpg">
          <h2>Pretty Hate Machine</h2>
          <p>Nine Inch Nails</p>
        </a>
        <a class="item item-thumbnail-left" href="#">
          <img ng-src="img/ad.jpg">
          <h2>Pretty Hate Machine</h2>
          <p>Nine Inch Nails</p>
        </a>
        <a class="item item-thumbnail-left" href="#">
          <img ng-src="img/ad.jpg">
          <h2>Pretty Hate Machine</h2>
          <p>Nine Inch Nails</p>
        </a>
    </div>
  </ion-content>
  <div class="tabs tabs-background-stable tabs-color-light">
      <div class="tabs">
        <a class="tab-item" href="#/app/playlists">
          <i class="icon ion-home"></i>
        </a>
        <a class="tab-item" href="#/app/dealers">
          <i class="icon ion-person-stalker"></i>
        </a>
        <a class="tab-item" href="#/app/products">
          <i class="icon ion-social-dropbox"></i>
        </a>
        <a class="tab-item" href="#/app/products">
          <i class="icon ion-person"></i>
        </a>
      </div>
    </div>
</ion-view>