<ion-view view-title="Product Details">
  <ion-content>
    <div class="list card">
      <div class="item">
        <h2>Marty McFly</h2>
        <p>November 05, 1955</p>
      </div>
      <div class="item item-body">
        <img class="full-image" src="img/ad.jpg">
      </div>
      <p>Test</p>
    </div>
  </ion-content>
  <div class="tabs tabs-background-stable tabs-color-light">
    <div class="tabs">
      <a class="tab-item" href="#/app/playlists">
        <i class="icon ion-home"></i>
      </a>
      <a class="tab-item" href="#/app/dealers">
        <i class="icon ion-person-stalker"></i>
      </a>
      <a class="tab-item" href="#/app/products">
        <i class="icon ion-social-dropbox"></i>
      </a>
      <a class="tab-item" href="#/app/products">
        <i class="icon ion-person"></i>
      </a>
    </div>
  </div>
</ion-view>
